.image-gallery-slide {
  height: 100%;
}
.image-gallery-swipe {
  width: 95%;
}

.image-gallery-thumbnails-wrapper {
  margin-top: 10px;
}

.image-gallery-thumbnail {
  @apply aspect-square;
  span,
  img {
    height: 100%;
  }
}

.image-gallery-slide-wrapper {
  overflow: hidden;
}

.image-gallery-thumbnail-image {
  object-fit: cover;
}

// product slug hevtee uyd
.product__image {
  margin-bottom: 10vh;
}

// .product__image,
// .image-gallery-swipe {
//   height: 50vh;
// }
.image-gallery-slides,
.image-gallery {
  height: 100%;
  transition: 0.3s ease-in-out;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;

  //   z-index: 1;
  //   @apply bg-gradient-to-b from-slate-700/0 via-slate-700/10 to-slate-900/80;
  // }
  .image-gallery-thumbnails {
    z-index: 2;
  }
}
.image-gallery-slides {
  height: 50vh;
}

.fullscreen .image-gallery-slides {
  height: 100vh;
  transition: 0.3s ease-in-out;
  .product__image,
  .image-gallery-swipe {
    height: 100vh;
  }
}
// edit
.edit-product__image {
  margin-bottom: 10vh;
  height: 50vh;
  .image-gallery-swipe {
    height: 50vh;
  }
  .image-gallery-slides {
    height: 100%;
  }
  .image-gallery {
    height: 50vh;
  }
}
