.image-gallery-slide {
  height: 100%;
}
.image-gallery-swipe {
  width: 95%;
}

.image-gallery-thumbnails-wrapper {
  margin-top: 10px;
}

.image-gallery-thumbnail {
  @apply aspect-square;
  span,
  img {
    height: 100%;
  }
}

.image-gallery-slide-wrapper {
  overflow: hidden;
}
