@use "../vars/" as *;
.nav__icon {
     height: 20px;
     width: 20px;
}
.nav__item {
     transition: 0.3s ease;
     &:hover {
          color: $mainBlossom;
          .nav__icon {
               color: $mainBlossom;
          }
     }
     height: 100%;
}
.navbar .sticky {
     position: fixed;
     top: 0;
}

.profile__drop-menu {
     // transform: translateY(20px);
     transition: 0.3s ease;
}

// Profile button
.drop__hidden {
     visibility: hidden;
     opacity: 0;
     transform: translateY(-20px);
     transition: 0.3s ease;
}

// Cateegory
.nav__category {
     position: relative;
     &:hover {
          .nav__sub {
               // display: flex;
               visibility: visible;
               opacity: 1;
               width: 300px;
          }
     }
     .nav__sub {
          // display: none;
          visibility: hidden;
          position: absolute;
          transform: translateY(10px);
          left: 0;
          width: 0;
          background-color: $mainBlossom;
          color: white;
          opacity: 0;
          transition: 0.2s ease;
          a {
               &:hover {
                    background-color: white;
                    color: $mainBlossom;
               }
          }
     }
}
