@use "vars" as *;
@use "component" as *;
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

.icon {
     color: #676767;
     transition: 0.3s ease;
}

html {
     scroll-behavior: smooth;
     user-select: none;
}

.white__icon {
     color: white;
}

.wrap,
.unwrap {
     transition: 0.4s ease;
}
.wrap {
     transform: translateY(-100%);
}

::-webkit-scrollbar {
     width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
     background: $bgGrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: $mainBlossom;
}

.product__image {
     position: relative;
     &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $bgGrey;
     }
}

.animated__icon {
     background-size: cover;
     width: 30px;
     height: 30px;
}

.animated__wallet {
     .animated__icon {
          background-image: url(../public/utils/icons/wallet.png);
          background-size: cover;
          width: 30px;
          height: 30px;
     }
     &:hover .animated__icon {
          background-image: url(../public/utils/icons/wallet.gif);
     }
}

.animated__estimator {
     .animated__icon {
          background-image: url(../public/utils/icons/estimator.png);
          background-size: cover;
          width: 30px;
          height: 30px;
     }
     &:hover .animated__icon {
          background-image: url(../public/utils/icons/estimator.gif);
     }
}

.animated__heart {
     .animated__icon {
          background-image: url(../public/utils/icons/heart.png);
          background-size: cover;
          width: 30px;
          height: 30px;
     }
     &:hover .animated__icon {
          background-image: url(../public/utils/icons/heart.gif);
     }
}

.animated__account {
     .animated__icon {
          background-image: url(../public/utils/icons/account.png);
          background-size: cover;
          width: 30px;
          height: 30px;
     }
     &:hover .animated__icon {
          background-image: url(../public/utils/icons/account.gif);
     }
}

.info__icon {
     font-size: 20px;
}

.menu__item {
     &:hover {
          background: transparent !important;
     }
}

.profile__dropdown-menu {
     margin-right: 10% !important;
     transform: translate(600px, 70px) !important;
     &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 10px;
          background-color: red;
     }
}

.animated__account .asd {
     display: none;
}



.card {
     position: relative;
     // z-index: 3;
     &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $mainBlossom;
          opacity: 0.7;
          z-index: 1;
     }
}

.file__upload {
     
}


