@use 'vars' as *;
@use 'component' as *;
@import 'node_modules/react-image-gallery/styles/scss/image-gallery.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.disappear {
  animation: disappear 0.3s ease-in-out;
}

@keyframes disappear {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.swiper-grid-column > .swiper-wrapper {
  flex-direction: unset !important;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

th,
td {
  @apply p-2 border-r border-gray-400 min-w-[125px] w-[150px] border-b border-gray-400;
}

td {
  button {
    @apply px-5 py-1 text-white rounded-full mx-auto transition-all ease-in;
  }
}

.animate-pin {
  animation: pin 0.8s ease-in-out infinite;
}

@keyframes pin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.delete {
  @apply w-6 h-6 bg-blue-500 ring-4 shadow-xl;
  &::before {
    content: '';

    @apply bg-white w-[13px] h-[2px] absolute top-[50%] left-[50%];

    transform: translate(-50%, -50%);
  }
}

html {
  scroll-behavior: smooth;
  // user-select: none;
}

// Custom scroll bar
// Note: Not supported on Firefox bruh
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bgGrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainBlossom;
}

.info__icon {
  font-size: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
