@use "vars" as *;
@use "component" as *;
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

.icon {
     color: #676767;
     transition: 0.3s ease;
}

html {
     scroll-behavior: smooth;
}

.white__icon {
     color: white;
}
.nav__icon {
     height: 20px;
     width: 20px;
}
.nav__item {
     transition: 0.3s ease;
     &:hover {
          color: $mainBlossom;
          .nav__icon {
               color: $mainBlossom;
          }
     }
     height: 100%;
}
.navbar .sticky {
     position: fixed;
     top: 0;
}

.wrap,
.unwrap {
     transition: 0.4s ease;
}
.wrap {
     transform: translateY(-100%);
}

.scroll__top {
     color: red;
}

::-webkit-scrollbar {
     width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
     background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #555;
}
